In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#import plotly.express as px

In [61]:
data1 = pd.read_csv('data_metro_cuadrado_p.csv')
data2 = pd.read_csv('data_punto_propiedad_p.csv')
data3 = pd.read_csv('data_trovit_p.csv')

In [62]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Habitaciones          220 non-null    int64
 1   Baños                 220 non-null    int64
 2   Estrato               220 non-null    int64
 3   Área_construida       220 non-null    int64
 4   Código inmueble       220 non-null    object
 5   Barrio común          218 non-null    object
 6   Precio                220 non-null    int64
 7   Antigüedad            220 non-null    object
 8   Área construida       220 non-null    int64
 9   Área privada          220 non-null    int64
 10  Valor administración  113 non-null    float64
 11  Parqueaderos          176 non-null    float64
 12  estado                211 non-null    object
dtypes: float64(2), int64(7), object(4)
memory usage: 22.5+ KB

In [15]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   path        136 non-null    object
 1   tipo        136 non-null    object
 2   estado      136 non-null    object
 3   ubicacion   136 non-null    object
 4   url         136 non-null    object
 5   habitacion  131 non-null    float64
 6   baño        134 non-null    float64
 7   dimension   132 non-null    float64
 8   precio      136 non-null    float64
 9   estrato     24 non-null     float64
 10  latitud     136 non-null    float64
 11  longitud    136 non-null    float64
dtypes: float64(7), object(5)
memory usage: 12.9+ KB

In [16]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              460 non-null    int64
 1   url                     460 non-null    object
 2   Tipo de anuncio         460 non-null    object
 3   Tipo de propiedad       458 non-null    object
 4   Habitaciones            455 non-null    float64
 5   Baños                   454 non-null    float64
 6   Superficie              454 non-null    float64
 7   Área construida         27 non-null     float64
 8   Piso                    11 non-null     float64
 9   Estrato                 50 non-null     float64
 10  precio                  459 non-null    float64
 11  latitud                 189 non-null    object
 12  longitud                189 non-null    object
 13  ubicacion               189 non-null    object
 14  Año de construcción     74 non-null     float64
 15  Baño de visitas         1 non-null      float64
 16  Superficie del terreno  13 non-null     object
 17  Parqueadero             28 non-null     object
 18  Orientación             18 non-null     object
dtypes: float64(9), int64(1), object(9)
memory usage: 68.4+ KB

In [3]:
## tenemos un total de 
data1.shape[0] + data2.shape[0]+data3.shape[0]

816

## Aseguremonos de tener el mismo nombre para todas las columnas

In [63]:
from unidecode import unidecode

# Función para normalizar nombres de columnas
def normalize_column_name(col_name):
    # Eliminar tildes
    col_name = unidecode(col_name)
    # Convertir a minúsculas
    col_name = col_name.lower()
    # Eliminar signos de admiración y otros caracteres no deseados
    col_name = col_name.replace('!', '').replace(' ', '_')
    # Otras posibles sustituciones
    col_name = col_name.replace('á', 'a').replace('é', 'e').replace('í', 'i').replace('ó', 'o').replace('ú', 'u')
    return col_name
columns =data1.columns.tolist()
columns1 = [normalize_column_name(a) for a in columns]
columns =data2.columns.tolist()
columns2 = [normalize_column_name(a) for a in columns]
columns =data3.columns.tolist()
columns3 = [normalize_column_name(a) for a in columns]

In [64]:
print(f'columnas de data1: {columns1}',end='\n')
print(f'columnas de data2: {columns2}',end='\n')
print(f'columnas de data3: {columns3}',end='\n')

columnas de data1: ['habitaciones', 'banos', 'estrato', 'area_construida', 'codigo_inmueble', 'barrio_comun', 'precio', 'antiguedad', 'area_construida', 'area_privada', 'valor_administracion', 'parqueaderos', 'estado']
columnas de data2: ['path', 'tipo', 'estado', 'ubicacion', 'url', 'habitacion', 'bano', 'dimension', 'precio', 'estrato', 'latitud', 'longitud']
columnas de data3: ['unnamed:_0', 'url', 'tipo_de_anuncio', 'tipo_de_propiedad', 'habitaciones', 'banos', 'superficie', 'area_construida', 'piso', 'estrato', 'precio', 'latitud', 'longitud', 'ubicacion', 'ano_de_construccion', 'bano_de_visitas', 'superficie_del_terreno', 'parqueadero', 'orientacion']

In [65]:
data1.columns = columns1
data2.columns = columns2
data3.columns = columns3

### Hagamos una revision de datos faltantes

In [66]:
print('Data1:\n',data1.isnull().sum(),end='\n --------------------------------- \n')
print('Data2:\n',data2.isnull().sum(),end='\n --------------------------------- \n')
print('Data3:\n',data3.isnull().sum(),end='\n --------------------------------- \n')

Data1:
 habitaciones              0
banos                     0
estrato                   0
area_construida           0
codigo_inmueble           0
barrio_comun              2
precio                    0
antiguedad                0
area_construida           0
area_privada              0
valor_administracion    107
parqueaderos             44
estado                    9
dtype: int64
 ---------------------------------
Data2:
 path            0
tipo            0
estado          0
ubicacion       0
url             0
habitacion      5
bano            2
dimension       4
precio          0
estrato       112
latitud         0
longitud        0
dtype: int64
 ---------------------------------
Data3:
 unnamed:_0                  0
url                         0
tipo_de_anuncio             0
tipo_de_propiedad           2
habitaciones                5
banos                       6
superficie                  6
area_construida           433
piso                      449
estrato                   410
precio                      1
latitud                   271
longitud                  271
ubicacion                 271
ano_de_construccion       386
bano_de_visitas           459
superficie_del_terreno    447
parqueadero               432
orientacion               442
dtype: int64
 ---------------------------------

- Porcedamos a eliminar las columnas con gran numero de datos faltantes

In [70]:
data1.drop(['valor_administracion','parqueaderos'],axis=1,inplace=True)
data2.drop('estrato',axis=1,inplace=True)
data3.drop(['area_construida','piso','estrato','latitud','longitud','ubicacion','ano_de_construccion','bano_de_visitas','superficie_del_terreno','parqueadero','orientacion'],axis=1,inplace=True)

In [71]:
print('Data1:\n',data1.isnull().sum(),end='\n --------------------------------- \n')
print('Data2:\n',data2.isnull().sum(),end='\n --------------------------------- \n')
print('Data3:\n',data3.isnull().sum(),end='\n --------------------------------- \n')

Data1:
 habitaciones       0
banos              0
estrato            0
area_construida    0
codigo_inmueble    0
barrio_comun       2
precio             0
antiguedad         0
area_construida    0
area_privada       0
estado             9
dtype: int64
 ---------------------------------
Data2:
 path          0
tipo          0
estado        0
ubicacion     0
url           0
habitacion    5
bano          2
dimension     4
precio        0
latitud       0
longitud      0
dtype: int64
 ---------------------------------
Data3:
 unnamed:_0           0
url                  0
tipo_de_anuncio      0
tipo_de_propiedad    2
habitaciones         5
banos                6
superficie           6
precio               1
dtype: int64
 ---------------------------------

In [2]:
data1 = pd.read_csv('data1.csv') 
data2 = pd.read_csv('data2.csv')
data3 = pd.read_csv('data3.csv')

In [5]:
data1.shape,data2.shape,data3.shape

((220, 11), (136, 11), (460, 8))

In [6]:
print(data1.columns)
print(data2.columns)

Index(['habitaciones', 'banos', 'estrato', 'area_construida',
       'codigo_inmueble', 'barrio_comun', 'precio', 'antiguedad',
       'area_construida.1', 'area_privada', 'estado'],
      dtype='object')
Index(['path', 'tipo', 'estado', 'ubicacion', 'url', 'habitacion', 'bano',
       'dimension', 'precio', 'latitud', 'longitud'],
      dtype='object')

In [9]:
set(data1.columns) & set(data2.columns)

{'estado', 'precio'}

In [3]:
data2.rename(columns={'habitacion':'habitaciones','bano':'banos','dimension':'area_construida'},inplace=True)

In [4]:
set(data1.columns) & set(data2.columns)

{'area_construida', 'banos', 'estado', 'habitaciones', 'precio'}

In [7]:
data1.head()

,habitaciones,banos,estrato,area_construida,codigo_inmueble,barrio_comun,precio,antiguedad,area_construida.1,area_privada,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,386,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,210,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,146,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480,480,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420,420,venta_casa

In [13]:
data2.head()

,path,tipo,estado,ubicacion,url,habitaciones,banos,area_construida,precio,latitud,longitud
0,2b72-82fe-18fc293-722dc1ef005c-7129,Apartamento,venta,Las Nieves-Centro/Centro Histórico/Tunja/Boyacá,2b72-82fe-18fc293-722dc1ef005c-7129,2.0,2.0,75.00,290000000.0,5.532431,-73.361601
1,2688-879f-6b245957-690b01267248-3152,Apartamento,venta,Las Nieves-Centro/Centro Histórico/Tunja/Boyacá,2688-879f-6b245957-690b01267248-3152,3.0,2.0,78.00,250000000.0,5.534000,-73.362000
2,9e55-b016-c7b4375e-2882ef5e1b71-43d9,Apartamento,venta,San Ignacio/Centro Histórico/Tunja/Boyacá,9e55-b016-c7b4375e-2882ef5e1b71-43d9,3.0,2.0,56.00,170000000.0,5.514202,-73.368592
3,eacb-885b-18f4d5b-1661e30e9c86-7c1e,Apartamento,venta,San Ignacio/Centro Histórico/Tunja/Boyacá,eacb-885b-18f4d5b-1661e30e9c86-7c1e,3.0,2.0,62.32,262900000.0,5.512884,-73.367969
4,b6e8-98d2-18f4d8f-a982c7d04954-7a3c,Apartamento,venta,San Ignacio/Centro Histórico/Tunja/Boyacá,b6e8-98d2-18f4d8f-a982c7d04954-7a3c,3.0,2.0,62.32,202900000.0,5.512952,-73.367884

In [20]:
data2['estado'].unique()

array(['venta'], dtype=object)

In [21]:
data1['estado'].unique()

array(['venta_casa', 'venta_apartamento', nan], dtype=object)

In [5]:
data2.drop('estado',axis=1,inplace=True)
data1.rename(columns={'estado':'tipo'},inplace=True)

In [6]:
data1.tipo=data1['tipo'].map({'venta_casa':'Casa','venta_apartamento':'Apartamento'})

In [30]:
data1.head(3)

,habitaciones,banos,estrato,area_construida,codigo_inmueble,barrio_comun,precio,antiguedad,area_construida.1,area_privada,tipo
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,386,Casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,210,Casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,146,Casa

In [7]:
set(data1.columns) & set(data2.columns)

{'area_construida', 'banos', 'habitaciones', 'precio', 'tipo'}

In [8]:
set(data1.columns) & set(data2.columns) & set(data3.columns)

{'banos', 'habitaciones', 'precio'}

In [48]:
data3.head(3)

,unnamed:_0,url,tipo_de_anuncio,tipo_de_propiedad,habitaciones,banos,superficie,precio
0,0,vendo-apartamento-cerca-a-unicentro-tunja.04b1...,Venta,Apartamento,3.0,2.0,110.0,460000000.0
1,1,"vendo-apartamento-nogales-de-la-florida,-tunja...",Venta,Apartamento,3.0,2.0,56.0,170000000.0
2,2,vendo-apartamento-nuevo-conjunto-amalfi-tunja....,Venta,Apartamento,2.0,2.0,NaN,240000000.0

In [50]:
data3.tipo_de_anuncio.unique()

array(['Venta'], dtype=object)

In [58]:
data3[(data3['tipo_de_propiedad']=='Terreno o Lote') | (data3['tipo_de_propiedad']=='LOCAL')].index

Index([216, 222, 458], dtype='int64')

In [9]:
data3.drop(index=[216, 222, 458],inplace=True)
data3.drop(columns=['unnamed:_0', 'url', 'tipo_de_anuncio'],axis=1,inplace=True)
data3.head(3)

  tipo_de_propiedad  habitaciones  banos  superficie       precio
0       Apartamento           3.0    2.0       110.0  460000000.0
1       Apartamento           3.0    2.0        56.0  170000000.0
2       Apartamento           2.0    2.0         NaN  240000000.0

In [10]:
data3.rename(columns={'tipo_de_propiedad':'tipo','superficie':'area_construida'},inplace=True)
set(data1.columns) & set(data2.columns) & set(data3.columns)

{'area_construida', 'banos', 'habitaciones', 'precio', 'tipo'}

In [11]:
data= pd.concat([data1,data2,data3],join='inner',ignore_index=True)
data.shape

(813, 5)

In [12]:
data.drop_duplicates(inplace=True)

In [16]:
data.to_csv("datasetclean.scv",index=False ,sep=";")

In [17]:
data.head()

   habitaciones  banos  area_construida        precio  tipo
0           5.0    3.0            386.0  1.200000e+09  Casa
1           5.0    4.0            210.0  8.000000e+08  Casa
2           3.0    3.0            146.0  3.500000e+08  Casa
3           5.0    5.0            480.0  2.000000e+09  Casa
4           5.0    5.0            420.0  1.100000e+09  Casa

In [9]:
data.describe()

       habitaciones       banos  area_construida        precio
count    806.000000  808.000000       803.000000  8.120000e+02
mean       3.096774    2.444307       118.737208  6.839466e+08
std        1.057626    1.049868       101.911872  8.766602e+09
min        1.000000    1.000000         3.158000  9.000000e+07
25%        3.000000    2.000000        62.000000  2.107500e+08
50%        3.000000    2.000000        85.000000  2.800000e+08
75%        3.000000    3.000000       134.000000  4.225000e+08
max        9.000000    8.000000       864.000000  2.500000e+11

In [25]:
data.isnull().sum()

habitaciones        7
banos               5
area_construida    10
precio              1
tipo               11
dtype: int64

In [16]:
data.precio.dropna(inplace=True,ignore_index = True)

In [20]:
data.dtypes

habitaciones       float64
banos              float64
area_construida    float64
precio             float64
tipo                object
dtype: object

In [ ]:
temp=data[data.title.str.contains('Black')] ## para buscar similitudes