In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('df1.csv')
path = 'df'
for i in range(2,7):
    tem = pd.read_csv('df'+str(i)+'.csv')
    data = pd.concat([data,tem],ignore_index=True)

In [3]:
data.shape

(281, 12)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Habitaciones          281 non-null    int64
 1   Baños                 281 non-null    int64
 2   Estrato               281 non-null    int64
 3   Área_construida       281 non-null    int64
 4   Código inmueble       281 non-null    object
 5   Barrio común          278 non-null    object
 6   Precio                281 non-null    object
 7   Antigüedad            281 non-null    object
 8   Área construida       281 non-null    object
 9   Área privada          281 non-null    object
 10  Valor administración  145 non-null    object
 11  Parqueaderos          222 non-null    float64
dtypes: float64(1), int64(4), object(7)
memory usage: 26.5+ KB

In [33]:
df.tail()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos
254,2,1,3,42,MC4962781,UPTC MEDICINA CENTRO,$178.000.000,Entre 0 y 5 años,42 m²,42 m²,NaN,NaN
255,3,1,2,83,MC4941029,Villa del Rosario,$95.000.000,Entre 0 y 5 años,83 m²,73 m²,NaN,1.0
256,5,4,5,210,MC4977324,El Lago,$800.000.000,Entre 0 y 5 años,210 m²,697 m²,$291.000,2.0
257,3,4,5,200,MC4951498,Santa Ines Reservado,$870.000.000,Entre 0 y 5 años,200.7 m²,191.8 m²,$892.000,2.0
258,4,3,4,156,MC4900716,Las Quintas,$430.000.000,Entre 10 y 20 años,156 m²,156 m²,NaN,1.0

In [66]:
len(data['Código inmueble'].unique())

198

In [21]:
df[df["Código inmueble"]=='11295-M4770230']

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos
176,1,1,3,27,11295-M4770230,PARQUE PINZON TUNJA,$120.000.000,Entre 5 y 10 años,27 m²,27 m²,$120.000.000,NaN
178,1,1,3,27,11295-M4770230,PARQUE PINZON TUNJA,$120.000.000,Entre 5 y 10 años,27 m²,27 m²,$120.000.000,NaN
228,1,1,3,27,11295-M4770230,PARQUE PINZON TUNJA,$120.000.000,Entre 5 y 10 años,27 m²,27 m²,$120.000.000,NaN
230,1,1,3,27,11295-M4770230,PARQUE PINZON TUNJA,$120.000.000,Entre 5 y 10 años,27 m²,27 m²,$120.000.000,NaN

In [5]:
data.drop_duplicates('Código inmueble',inplace=True,ignore_index=True)

In [6]:
data['Código inmueble'].value_counts()

Código inmueble
16742-M4795726    1
11295-M4299919    1
10159-M4892593    1
10159-M4892542    1
11295-M4195326    1
                 ..
10159-M4957914    1
10159-M4958749    1
10159-M4958113    1
10159-M4958237    1
MC4953938         1
Name: count, Length: 220, dtype: int64

In [7]:
data.shape

(220, 12)

In [8]:
data['Barrio común'].value_counts()

Barrio común
Tunja                           27
Unicentro                       12
La Florida                       7
Las Nieves                       5
Las Quintas                      4
                                ..
Los Muiskas                      1
Villa Ruby                       1
Conjunto Residencial Alameda     1
Sta Helena                       1
patriotas                        1
Name: count, Length: 128, dtype: int64

In [9]:
data.to_csv('data_meatro_cuadrado.csv',index=False)

In [204]:
df = pd.read_csv('urls_metro_cuadrado.csv',sep='/')
path = 'urls_metro_cuadrado'
for i in range(2,6):
    tem = pd.read_csv(path+str(i)+'.csv',sep= '/')
    df = pd.concat([df,tem],ignore_index=True)

In [188]:
df.shape

(244, 1)

In [45]:
df.head()

      encoded_url
0  16742-M4795726
1  16742-M4795707
2  16742-M4795647
3  13873-M3706524
4  16742-M4796230

In [46]:
df.tail()

    encoded_url
239   MC4950012
240   MC4983404
241   MC4991733
242   MC4962449
243   MC4972489

In [58]:
df.value_counts()

encoded_url
10151-M4748986    2
10159-M4968566    2
652-M3455828      2
482-M4420550      2
10159-M4917532    2
                 ..
10159-M4958758    1
10159-M4959959    1
10159-M4979981    1
10278-M4675763    1
MC4991733         1
Name: count, Length: 226, dtype: int64

In [68]:
df[df['encoded_url']=='10159-M4957787']

        encoded_url
131  10159-M4957787

In [189]:
df.drop_duplicates('encoded_url',inplace=True)

In [190]:
df.shape

(226, 1)

In [191]:
lista_index = []
inner = 0
for i in df['encoded_url']:
    if i not in data['Código inmueble'].values:
        lista_index.append(df[df['encoded_url']==i].index.to_list())
    else:
        inner +=1

In [192]:
len(lista_index)

37

In [193]:
inner

189

In [201]:
lista_index[2][0]

62

In [183]:
df.iloc[lista_index[0]]

       encoded_url
50  11295-M3308508

In [116]:
df.iloc[[0,2,5,6]]

      encoded_url
0  16742-M4795726
2  16742-M4795647
5  16742-M4795788
6  16742-M4844700

In [202]:
a=np.array(lista_index).reshape((1,-1)).flatten()
a

array([ 52,  57,  62,  66,  82, 205, 208, 209, 210, 211, 212, 213, 214,
       215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 232,
       233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243])

In [205]:
df.iloc[a]

        encoded_url
52   11295-M3308508
57   11295-M3972852
62   11295-M3470246
66   10159-M4892532
82        MC4925707
205  10278-M4675763
208       MC4723427
209  11295-M4893760
210  16742-M4943605
211  11295-M4851186
212  11295-M3607311
213       MC4343566
214       MC4492980
215       MC4765267
216       MC4946662
217       MC4962547
218       MC4947669
219       MC4954891
220       MC4986469
221       MC4990176
222       MC4963341
223       MC4953938
224       MC4971150
225  16432-C0001-01
226  16432-C0001-03
232  16607-C0001-01
233  16432-C0001-02
234      MC26191913
235  10159-M4747008
236       MC4806733
237       MC4985514
238       MC4956627
239       MC4950012
240       MC4983404
241       MC4991733
242       MC4962449
243       MC4972489

In [206]:
df = pd.read_csv('urls_metro_cuadrado.csv')
path = 'urls_metro_cuadrado'
for i in range(2,6):
    tem = pd.read_csv(path+str(i)+'.csv')
    df = pd.concat([df,tem],ignore_index=True)

In [208]:
df=df.iloc[a]

In [209]:
df.to_csv('faltan.csv',index=False)