## Vamos a realizar el preprocesado de los datos, para que nos permitan trabajar con ellos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data_metro_cuadrado.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Habitaciones          220 non-null    int64
 1   Baños                 220 non-null    int64
 2   Estrato               220 non-null    int64
 3   Área_construida       220 non-null    int64
 4   Código inmueble       220 non-null    object
 5   Barrio común          218 non-null    object
 6   Precio                220 non-null    object
 7   Antigüedad            220 non-null    object
 8   Área construida       220 non-null    object
 9   Área privada          220 non-null    object
 10  Valor administración  113 non-null    object
 11  Parqueaderos          176 non-null    float64
 12  estado                211 non-null    object
dtypes: float64(1), int64(4), object(8)
memory usage: 22.5+ KB

- como vemos existen datos como precio que nos entereza que sean tipo numerico vallamos ello.

In [9]:
data['Precio']

0      $1.200.000.000
1        $800.000.000
2        $350.000.000
3      $2.000.000.000
4      $1.100.000.000
            ...
215      $570.000.000
216      $380.000.000
217      $165.000.000
218      $125.000.000
219      $230.000.000
Name: Precio, Length: 220, dtype: object

- eliminemos los valores de simbolo $ ,.

In [12]:
data['Precio'] = data['Precio'].str.replace('$','')

In [16]:
data['Precio'].iloc[3]

'2.000.000.000'

In [17]:
data.Precio.dtype

dtype('O')

In [20]:
data['Precio'] = data['Precio'].str.replace('.','').astype(int)

In [21]:
data.Precio.dtype

dtype('int64')


- Perfecto vallomos con los demas

In [22]:
data.head()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386 m²,386 m²,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210 m²,210 m²,$253.000,1.0,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146 m²,146 m²,$230.000,1.0,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480 m²,480 m²,$352.000,4.0,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420 m²,420 m²,NaN,1.0,venta_casa

- ahora para Area construida y Privada eliminaremos los m2

In [27]:
data['Área construida'] = data['Área construida'].str.replace(' m²','')

In [28]:
data['Área construida'].iloc[0]

'386'

In [ ]:
data['Área privada'] = data['Área privada'].str.replace(' m²','')

In [33]:
data['Área construida'] = data['Área construida'].str.replace('.','').astype(int)
data['Área privada'] = data['Área privada'].str.replace('.','').astype(int)

In [34]:
data.head()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,386,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,210,$253.000,1.0,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,146,$230.000,1.0,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480,480,$352.000,4.0,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420,420,NaN,1.0,venta_casa

- por ultimo vallamos con elvalor administracion

In [40]:
data['Valor administración'] = data['Valor administración'].str.replace('$','')
data['Valor administración'] = data['Valor administración'].str.replace('.','')

In [53]:
type(data['Valor administración'].iloc[0])

float

In [56]:
data['Valor administración'] = data['Valor administración'].astype(float)

In [57]:
data.head()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,386,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,210,253000.0,1.0,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,146,230000.0,1.0,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480,480,352000.0,4.0,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420,420,NaN,1.0,venta_casa

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Habitaciones          220 non-null    int64
 1   Baños                 220 non-null    int64
 2   Estrato               220 non-null    int64
 3   Área_construida       220 non-null    int64
 4   Código inmueble       220 non-null    object
 5   Barrio común          218 non-null    object
 6   Precio                220 non-null    int64
 7   Antigüedad            220 non-null    object
 8   Área construida       220 non-null    int64
 9   Área privada          220 non-null    int64
 10  Valor administración  113 non-null    object
 11  Parqueaderos          176 non-null    float64
 12  estado                211 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 22.5+ KB

In [59]:
data['Valor administración'].describe()

count    1.130000e+02
mean     1.340014e+07
std      5.724459e+07
min      1.000000e+01
25%      1.390000e+05
50%      2.200000e+05
75%      2.910000e+05
max      4.200000e+08
Name: Valor administración, dtype: float64

In [60]:
data['Valor administración'].max()

420000000.0

In [61]:
data.to_csv('metro_cuadrado/data_metro_cuadrado_p.csv',index=False)