In [1]:
from bs4 import BeautifulSoup as bs
import random
import time

import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import undetected_chromedriver as uc
from selenium.webdriver.support import expected_conditions as EC

In [2]:
import re

In [3]:
browser = uc.Chrome(driver_executable_path='chromedriver-linux64/chromedriver') ## iniciemos el navegador

## Datos de metro cuadrado.
("pagina")["https://www.metrocuadrado.com/apartamento-casa/venta/tunja/?search=form"]

In [44]:

URL = 'https://www.metrocuadrado.com/casa-apartamento/venta/tunja/?search=form'

In [57]:
browser.get(URL)

- en caso de obtener crockis

In [ ]:
#browser.find_element("xpath",'//*[@id="didomi-notice-agree-button"]').click()

In [58]:
html = browser.page_source ## sacamos el html de la pagina

In [59]:
soup = bs(html,"html")

- obtengamos los link de cada casa.

In [41]:
#pip install pandas urllib3
from urllib.parse import quote, unquote

In [60]:
temp = soup.find("div",{"class":"Col-sc-14ninbu-0 lfGZKA col-md-8 col-lg-9"}).find('ul',{'class':"Ul-sctud2-0 jyGHXP realestate-results-list browse-results-list"})

In [61]:
urls = [i.find('a',{'class':'sc-bdVaJa ebNrSm'}).get('href') for i in temp]
def encode_url(url):
    return quote(url, safe=':/?&=')
    
urls = [encode_url(url) for url in urls]

# Crear el DataFrame con las URLs codificadas
urls = pd.DataFrame(urls, columns=['encoded_url'])
urls.to_csv('urls_metro_cuadrado4.csv', index=False)

In [11]:
urls.head()

                                         encoded_url
0  /inmueble/venta-apartamento-tunja-in-altezza-4...
1  /inmueble/venta-casa-tunja-urbanizacia%C2%BFn-...
2  /inmueble/venta-casa-tunja-urapanes-5-habitaci...
3  /inmueble/venta-apartamento-tunja-mesopotamia-...
4  /inmueble/venta-apartamento-tunja-alameda-de-u...

In [49]:
urls.iloc[3:6].values

array([['/inmueble/venta-apartamento-tunja-centro-3-habitaciones-2-banos-1-garajes/11295-M4019770'],
       ['/inmueble/venta-casa-tunja-urbanizacion-el-bosque-4-habitaciones-3-banos-2-garajes/3312-M4645187'],
       ['/inmueble/venta-apartamento-tunja-centro-de-tunja-3-habitaciones-2-banos-1-garajes/11295-M4299919']],
      dtype=object)

In [107]:
urls[:3]

['/inmueble/venta-casa-tunja-frente-al-hotel-hunza-5-habitaciones-3-banos/16742-M4795726',
 '/inmueble/venta-casa-tunja-condominio-el-lago-5-habitaciones-4-banos-1-garajes/16742-M4795707',
 '/inmueble/venta-casa-tunja-tejarez-del-norte-3-habitaciones-3-banos-1-garajes/16742-M4795647']

In [23]:
##urls.to_csv('urls_metro_cuadrado',index=False)

- obtener los datos de las casas

In [4]:
urls = pd.read_csv('faltan.csv')

In [7]:

url = str(urls.iloc[:1].values).strip("''[]")
browser.get('https://www.metrocuadrado.com'+url)

In [27]:
html = browser.page_source
soup = bs(html,'html')

In [28]:
carac = soup.find('div',{"class":'d-block d-lg-none card-block'})

In [31]:
il=carac.find('ul',{'class':'Ul-sctud2-0 kdIYsW inline-list-grid'})
patron = r'\d+'
clave = []
valor = []
for i in il:
    condi = re.findall(patron,i.text)
    n = [int(j) for j in condi]
    clave.append(i.find('span').text)
    valor.append(int(n[0]))

In [32]:
patron = r'\d+'
coincidencias = re.findall(patron,carac.find('h2',{'class':'H2-kplljn-0 igCxTv vcenter-text card-text'}).text)
area = [int(numero) for numero in coincidencias]

a=carac.find('span',{'class':'position-relative'}).text.strip().replace(' ','_')
b= int(area[0])
clave.append(a)
valor.append(b)

In [33]:
pd.DataFrame([valor],columns=clave)

   Habitaciones  Baños  Estrato  Área_construida
0             5      3        4              386

In [171]:
a

'Área_construida'

In [106]:
a=carac.find('h2',{'class':'H2-kplljn-0 igCxTv vcenter-text card-text'})

In [125]:
coinci = re.findall(patron,carac.find('li',{'class':'Li-sc-1knn373-0 ctJpwh'}).text)
coinci

['5']

In [124]:
carac.find('li',{'class':'Li-sc-1knn373-0 ctJpwh'}).find('span').text

'Habitaciones'

In [119]:
import re

# Ejemplo de texto
texto = "Área construida 386 m²"

# Patrón de expresión regular para encontrar números
patron = r'\d+'

# Buscar coincidencias en el texto utilizando la expresión regular
coincidencias = re.findall(patron, texto)

# Convertir la lista de cadenas de texto a números enteros
numeros = [int(numero) for numero in coincidencias]

# Imprimir el número encontrado
print(numeros)

[386]

## Automatizacion para 1

In [71]:
print(str(urls.iloc[37].values).strip("''[]"))

/inmueble/venta-apartamento-tunja-las-nieves-3-habitaciones-2-banos-1-garajes/10159-M3894838

In [5]:

url = str(urls.iloc[0].values).strip("''[]")
browser.get('https://www.metrocuadrado.com'+url)

In [6]:
html = browser.page_source
soup = bs(html,'html')

In [7]:
carac = soup.find('div',{"class":'d-block d-lg-none card-block'})

In [8]:
il=carac.find('ul',{'class':'Ul-sctud2-0 kdIYsW inline-list-grid'})
patron = r'\d+'
clave = []
valor = []
for i in il:
    condi = re.findall(patron,i.text)
    n = [int(j) for j in condi]
    clave.append(i.find('span').text)
    valor.append(int(n[0]))

In [9]:
valor,clave

([5, 5, 4], ['Habitaciones', 'Baños', 'Estrato'])

In [10]:
patron = r'\d+'
coincidencias = re.findall(patron,carac.find('h2',{'class':'H2-kplljn-0 igCxTv vcenter-text card-text'}).text)
area = [int(numero) for numero in coincidencias]

a=carac.find('span',{'class':'position-relative'}).text.strip().replace(' ','_')
b= int(area[0])
clave.append(a)
valor.append(b)

In [11]:
datosprinc = soup.find('div',{'class':'Card-sc-18qyd5o-0 jYfunq sc-kjoXOD iYSwji sc-cJSrbW KWDfW realstatedata mb-5 sc-cJSrbW KWDfW realstatedata mb-5 card-details card'}).find('div',{'class':'Row-sc-2hg243-0 iUVxfs row'})
lista = datosprinc.find_all('h3',{'class':'H3-sc-89yvsz-0 eovJcI active-tooltip card-subtitle'})
a = datosprinc.find_all('p',{'class':'card-text'})

In [12]:
for i in lista:
    clave.append(i.text)
for j in a:
    valor.append(j.text)

In [13]:
df= pd.DataFrame([valor],columns=clave)

In [25]:
df.tail()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área construida,Área privada,Valor administración,Parqueaderos
20,4,3,4,130,MC4986469,San Ignacio,$380.000.000,Entre 10 y 20 años,130 m²,127 m²,$320.000,1.0
21,3,2,3,56,MC4990176,Arboreto,$165.000.000,Entre 5 y 10 años,56 m²,53.5 m²,$95.000,NaN
22,1,1,3,29,MC4963341,Gaitan,$125.000.000,Entre 10 y 20 años,29 m²,33 m²,$30.000,NaN
23,3,3,3,99,MC4953938,patriotas,$230.000.000,Remodelado,99.68 m²,67.5 m²,NaN,1.0
24,5,5,3,645,MC4971150,las Nieves,$206.000.000,Entre 0 y 5 años,645 m²,644 m²,NaN,4.0

In [30]:
urls.iloc[20:26].values

array([['/inmueble/venta-apartamento-tunja-san-ignacio-4-habitaciones-3-banos-1-garajes/MC4986469'],
       ['/inmueble/venta-apartamento-tunja-arboreto-3-habitaciones-2-banos/MC4990176'],
       ['/inmueble/venta-apartamento-tunja-gaitan-1-habitaciones-1-banos/MC4963341'],
       ['/inmueble/venta-casa-tunja-patriotas-3-habitaciones-3-banos-1-garajes/MC4953938'],
       ['/inmueble/venta-apartamento-tunja-las-nieves-5-habitaciones-5-banos-4-garajes/MC4971150'],
       ['/proyecto/panoramik-club-house-etapa-2/16432-C0001-01']],
      dtype=object)

In [14]:
df
df1 =df

In [29]:
for k in range(26,urls.shape[0]+1):
    url = str(urls.iloc[k].values).strip("''[]")
    browser.get('https://www.metrocuadrado.com'+url)
    time.sleep(random.randint(10,12))
    html = browser.page_source
    soup = bs(html,'html')
    carac = soup.find('div',{"class":'d-block d-lg-none card-block'})
    il=carac.find('ul',{'class':'Ul-sctud2-0 kdIYsW inline-list-grid'})
    patron = r'\d+'
    clave = []
    valor = []
    for i in il:
        condi = re.findall(patron,i.text)
        n = [int(j) for j in condi]
        clave.append(i.find('span').text)
        valor.append(int(n[0]))
    coincidencias = re.findall(patron,carac.find('h2',{'class':'H2-kplljn-0 igCxTv vcenter-text card-text'}).text)
    area = [int(numero) for numero in coincidencias]

    a=carac.find('span',{'class':'position-relative'}).text.strip().replace(' ','_')
    b= int(area[0])
    clave.append(a)
    valor.append(b)
    time.sleep(random.randint(3,5))
    datosprinc = soup.find('div',{'class':'Card-sc-18qyd5o-0 jYfunq sc-kjoXOD iYSwji sc-cJSrbW KWDfW realstatedata mb-5 sc-cJSrbW KWDfW realstatedata mb-5 card-details card'}).find('div',{'class':'Row-sc-2hg243-0 iUVxfs row'})
    lista = datosprinc.find_all('h3',{'class':'H3-sc-89yvsz-0 eovJcI active-tooltip card-subtitle'})
    a = datosprinc.find_all('p',{'class':'card-text'})
    for i in lista:
        clave.append(i.text)
    for j in a:
        valor.append(j.text)
    tem=pd.DataFrame([valor],columns=clave)
    df1 = pd.concat([df1,tem],axis=0)

AttributeError: 'NoneType' object has no attribute 'find'

In [25]:
df1.to_csv('df6.csv',index=False)