In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('data_trovit.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     460 non-null    object
 1   Tipo de anuncio         460 non-null    object
 2   Tipo de propiedad       458 non-null    object
 3   Habitaciones            455 non-null    float64
 4   Baños                   454 non-null    float64
 5   Superficie              454 non-null    object
 6   Área construida         27 non-null     object
 7   Piso                    11 non-null     float64
 8   Estrato                 50 non-null     float64
 9   precio                  459 non-null    object
 10  latitud                 189 non-null    object
 11  longitud                189 non-null    object
 12  ubicacion               189 non-null    object
 13  Año de construcción     74 non-null     float64
 14  Baño de visitas         1 non-null      float64
 15  Superficie del terreno  13 non-null     object
 16  Parqueadero             28 non-null     object
 17  Orientación             18 non-null     object
dtypes: float64(6), object(12)
memory usage: 64.8+ KB

In [4]:
data.head(2)

,url,Tipo de anuncio,Tipo de propiedad,Habitaciones,Baños,Superficie,Área construida,Piso,Estrato,precio,latitud,longitud,ubicacion,Año de construcción,Baño de visitas,Superficie del terreno,Parqueadero,Orientación
0,vendo-apartamento-cerca-a-unicentro-tunja.04b1...,Venta,Apartamento,3.0,2.0,110m²,110m²,3.0,5.0,460.000.000,"5,5465998","-73,3472673","Conjunto Residencial Mirador De La Colina, T...",NaN,NaN,NaN,NaN,NaN
1,"vendo-apartamento-nogales-de-la-florida,-tunja...",Venta,Apartamento,3.0,2.0,56m²,56m²,5.0,3.0,170.000.000,"5,514202","-73,368592","Apartamentos Nogales de la Florida, Tunja, B...",NaN,NaN,NaN,NaN,NaN

## limpiemos primero `Àrea construida` y `Superficie`

In [5]:
data['Área construida'] = data['Área construida'].str.replace('m²','')
data['Superficie'] = data['Superficie'].str.replace('m²','')
data['Área construida'] = data['Área construida'].astype(float)
data['Superficie'] = data['Superficie'].astype(float)

In [8]:
data['Área construida'].dtype,data['Superficie'].dtype

(dtype('float64'), dtype('float64'))

- por ultimo veamos el precio

In [9]:
data['precio'].unique()

array(['460.000.000', '170.000.000', '240.000.000', '385.000.000',
       '268.000.000', '235.000.000', '245.000.000', '290.000.000',
       '370.000.000', '220.000.000', '580.000.000', '255.000.000',
       '531.000.000', '380.000.000', '280.000.000', '327.000.000',
       '262.900.000', '230.000.000', '160.000.000', '250.000.000',
       '120.000.000', '327.700.000', '202.900.000', '201.900.000',
       '320.000.000', '575.000.000', '450.000.000', '260.000.000',
       '140.000.000', '420.000.000', '185.000.000', '340.000.000',
       '210.000.000', '215.000.000', '265.000.000', '600.000.000',
       '410.000.000', '238.000.000', '299.000.000', '500.000.000',
       '175.000.000', '350.000.002', '165.000.000', '253.000.000',
       '330.000.000', '457.700.000', '315.000.000', '390.000.000',
       '435.000.000', '400.000.000', '200.000.000', '300.000.000',
       '225.000.000', '180.000.000', '310.000.000', '350.000.000',
       '195.000.000', '650.000.000', '415.000.000', '288.000.000',
       '228.000.000', '395.000.000', '770.000.000', '850.000.000',
       '190.000.000', '270.000.000', '406.000.000', '507.200.000',
       '173.460.000', '1.200.000.000', '239.999.000', '135.000.000',
       '158.000.000', '480.000.000', '430.000.000', '535.000.000',
       '360.000.000', '285.000.000', '295.000.000', '130.000.000',
       '199.129.500', '273.000.000', '483.000.000', '477.000.000',
       '519.000.000', '2.000.000.000', '233.943.500', '520.000.000',
       '446.925.000', '278.000.000', '1.900.000.000', '248.000.000',
       '$380M', '$330M', '$145M', '$375M', '$239M', '$178M', '$192M',
       '$150M', '$450M', '$220M', '$195M', '$130M', '$320M', '$430M',
       '455.000.000', '234.000.000', '325.000.000', '690.000.000',
       '392.000.000', '$460M', '$199M', '$325M', '$271M', '$300M',
       '$286M', '$160M', '$270M', '$435M', '$250M', '$440M', '$570M',
       '$215M', '$170M', '$210M', '$235M', '$260M', '$753M', '$1.900M',
       '$218M', '$280M', '$350M', '$90M', '$240M', nan, '$232M', '$515M',
       '$180M', '$483M', '$115M', '$477M', '$415M', '$219M', '$175M',
       '$340M', '$360M', '$229M', '$155M', '$230M', '$200M', '$225M',
       '$356M', '$420M', '$390M', '$550M', '$250.000M', '$140M', '$165M',
       '$185M', '$400M', '$245M', '$120M', '$152M', '$305M', '$500M',
       '$302M', '$174M', '$100M', '$113M', '$143M', '$190M', '$485M',
       '$285M', '$395M', '$410M', '$650M', '$458M', '$850M', '$290M',
       '$480M', '$490M', '$268M', '$124M', '$252M', '$275M', '$147M',
       '$475M', '$149M', '$265M', '$171M', '$255M', '$315M', '$227M',
       '$385M', '$740M', '$238M', '$511M', '$575M', '$211M', '$310M',
       '$217M', '$110M', '$1.250M'], dtype=object)

In [33]:
def precios(x):
    # Convertir el valor a cadena si no lo es
    if not isinstance(x, str):
        x = str(x)
    # Elimino los elementos que tengan '.'
    if '.' in x:
        x = x.replace('.','')
    # Transformo lo elementos con esas caractericas 
    if '$' in x and 'M' in x:
        x = x.replace('M','000000').strip('$')
    try:
        return int(x)
    except ValueError:
        return x

In [36]:
data['precio'] = data['precio'].apply(precios).astype(float)

In [39]:
data['precio'].dtype

dtype('float64')

In [40]:
data.dtypes

url                        object
Tipo de anuncio            object
Tipo de propiedad          object
Habitaciones              float64
Baños                     float64
Superficie                float64
Área construida           float64
Piso                      float64
Estrato                   float64
precio                    float64
latitud                    object
longitud                   object
ubicacion                  object
Año de construcción       float64
Baño de visitas           float64
Superficie del terreno     object
Parqueadero                object
Orientación                object
dtype: object

In [41]:
data.to_csv('data_trovit_p.csv')