In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_punto_propiedad.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   path        136 non-null    object
 1   tipo        136 non-null    object
 2   estado      136 non-null    object
 3   ubicacion   136 non-null    object
 4   url         136 non-null    object
 5   habitacion  136 non-null    object
 6   baño        136 non-null    object
 7   dimension   136 non-null    object
 8   precio      136 non-null    object
 9   estrato     24 non-null     float64
 10  latitud     136 non-null    float64
 11  longitud    136 non-null    float64
dtypes: float64(3), object(9)
memory usage: 12.9+ KB

In [5]:
data.head(2)

,path,tipo,estado,ubicacion,url,habitacion,baño,dimension,precio,estrato,latitud,longitud
0,2b72-82fe-18fc293-722dc1ef005c-7129,Apartamento,venta,Las Nieves-Centro/Centro Histórico/Tunja/Boyacá,2b72-82fe-18fc293-722dc1ef005c-7129,2,2,75m2,290.000.000,5.0,5.532431,-73.361601
1,2688-879f-6b245957-690b01267248-3152,Apartamento,venta,Las Nieves-Centro/Centro Histórico/Tunja/Boyacá,2688-879f-6b245957-690b01267248-3152,3,2,78m2,250.000.000,NaN,5.534000,-73.362000

### vamos a cambiar el tipo de dato en `habitacion`,`baño`,`dimension` y `precio`

In [7]:
data['habitacion'].unique()

array(['2', '3', 'N', '5', '4', '1', '6', '7', '9'], dtype=object)

In [9]:
data['habitacion'] = data['habitacion'].apply(lambda x: np.nan if x=='N' else x)

In [10]:
data.habitacion.unique()

array(['2', '3', nan, '5', '4', '1', '6', '7', '9'], dtype=object)

In [11]:
data['habitacion']=data['habitacion'].astype(float)

In [12]:
data.habitacion.dtype

dtype('float64')

In [13]:
## ahora con baño
data['baño'].unique()

array(['2', '1', '3', '6', '4', '5', '8', 'N'], dtype=object)

In [14]:
data.baño = data.baño.apply(lambda x: np.nan if x == 'N' else x).astype(float)
data.baño.dtype

dtype('float64')

In [15]:
# ahora con dimension
data.dimension.unique()

array(['75m2', '78m2', '56m2', '62,32m2', '24m2', '68m2', '79m2', '89m2',
       '66m2', '137,5m2', '50m2', '126,82m2', '150m2', '52m2', '152m2',
       '56,85m2', '60m2', '74,2m2', '100m2', '182,1m2', '173m2',
       '101,5m2', '110m2', '49m2', '125m2', '58m2', '48,79m2', '73,17m2',
       '131m2', '55m2', '27m2', '23,47m2', '30,35m2', '132,9m2',
       '137,54m2', '102m2', '73m2', '112,53m2', '38m2', '65,75m2',
       '67,56m2', '88,6m2', '57m2', '54,34m2', '76m2', '105m2', '165m2',
       '88m2', '95m2', '126,67m2', '63m2', '354m2', '864m2', '300m2',
       '550m2', '250m2', '172m2', '438,5m2', 'NAN', '130,5m2', '258,41m2',
       '354,07m2', '142m2', '163m2', '112m2', '210m2', '146m2', '211m2',
       '433,46m2', '140m2', '184m2', '209m2', '91m2', '244m2', '200m2',
       '358m2', '400m2', '375m2', '138m2', '101m2', '590m2', '220m2',
       '118m2', '86,8m2', '136m2', '228m2', '72m2', '127,4m2', '80m2',
       '201m2', '129m2', '166,22m2', '215m2', '246m2', '122m2', '218m2',
       '227m2', '103m2', '167m2'], dtype=object)

- no nos interaza m2 asi que procederemos a eliminarlo

In [17]:
data['dimension'] = data.dimension.str.replace('m2','')
data['dimension'] = data.dimension.str.replace(',','.').astype(float)

In [18]:
data.dimension.dtypes

dtype('float64')

In [21]:
## por ultimo vallamos con el precio
data.precio.unique()

array(['290.000.000', '250.000.000', '170.000.000', '262.900.000',
       '202.900.000', '201.900.000', '110.000.000', '160.000.000',
       '240.000.000', '230.000.000', '175.000.000', '531.000.000',
       '340.000.000', '280.000.000', '415.000.000', '190.000.000',
       '400.000.000', '600.000.000', '406.000.000', '350.000.000',
       '430.000.000', '320.000.000', '180.000.000', '195.000.000',
       '273.000.000', '233.943.500', '122.500.000', '100.000.000',
       '315.000.000', '450.000.000', '270.000.000', '295.000.000',
       '460.000.000', '135.000.000', '140.000.000', '220.000.000',
       '210.000.000', '330.000.000', '200.000.000', '265.000.000',
       '300.000.000', '260.000.000', '540.000.000', '158.000.000',
       '1.900.000.000', '2.300.000.000', '1.850.000.000', '1.700.000.000',
       '1.977.983.412', '1.100.000.000', '680.000.000', '2.200.000.000',
       '480.000.000', '895.132.240', '530.427.129', '360.000.000',
       '410.000.000', '950.000.000', '298.000.000', '800.000.000',
       '580.000.000', '285.000.000', '700.000.000', '839.832.500',
       '470.000.000', '880.000.000', '380.000.000', '289.000.000',
       '650.000.000', '900.000.000', '310.000.000', '329.000.000',
       '750.000.000', '278.000.000', '1.200.000.000', '255.000.000',
       '1.800.000.000', '275.000.000'], dtype=object)

In [27]:
data.precio = data.precio.str.replace('.','')
data.precio=data.precio.astype(float)
data.precio.dtype

dtype('float64')

In [29]:
data.dtypes

path           object
tipo           object
estado         object
ubicacion      object
url            object
habitacion    float64
baño          float64
dimension     float64
precio        float64
estrato       float64
latitud       float64
longitud      float64
dtype: object

In [31]:
data.to_csv('data_punto_propiedad_p.csv',index=False)